<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx.xsd">
    
    <bean name="transactionManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" />
    </bean>
    <tx:annotation-driven transaction-manager="transactionManager"/>

    <bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource" destroy-method="close" >
        <property name="dataSourceClassName" value="com.mysql.jdbc.jdbc2.optional.MysqlDataSource"  />
        <property name="maximumPoolSize" value="20"/>
        <property name="maxLifetime" value="30000"/>
        <property name="idleTimeout" value="30000"/>
        <property name="dataSourceProperties">
            <props>
                <prop key="url">jdbc:mysql://localhost/computer-database-db?useSSL=false</prop>
                <prop key="user">admincdb</prop>
                <prop key="password">qwerty1234</prop>
                <prop key="prepStmtCacheSize">250</prop>
                <prop key="prepStmtCacheSqlLimit">2048</prop>
                <prop key="cachePrepStmts">true</prop>
                <prop key="useServerPrepStmts">true</prop>
            </props>
        </property>
    </bean>
    <bean id="computerValidator"
          class="com.ebiz.computerdatabase.validator.ComputerValidator"/>

    <context:annotation-config />
    <context:component-scan base-package="com.ebiz.computerdatabase"  />
</beans>