<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
    http://www.springframework.org/schema/data/jpa
    http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">

    <context:property-placeholder location="classpath:hibernate.properties"/>


    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory" />
    </bean>
    <tx:annotation-driven transaction-manager="transactionManager"/>

    <bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource" destroy-method="close" >
        <property name="dataSourceClassName" value="com.mysql.jdbc.jdbc2.optional.MysqlDataSource"  />
        <property name="maximumPoolSize" value="20"/>
        <property name="maxLifetime" value="30000"/>
        <property name="idleTimeout" value="30000"/>
        <property name="dataSourceProperties">
            <props>
                <prop key="url">jdbc:mysql://localhost/computer-database-db?useSSL=false</prop>
                <prop key="user">admincdb</prop>
                <prop key="password">qwerty1234</prop>
                <prop key="prepStmtCacheSize">250</prop>
                <prop key="prepStmtCacheSqlLimit">2048</prop>
                <prop key="cachePrepStmts">true</prop>
                <prop key="useServerPrepStmts">true</prop>
            </props>
        </property>
    </bean>
    <bean id="computerValidator"
          class="com.ebiz.computerdatabase.validator.ComputerValidator"/>

    <bean id ="jpaVendor" class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"/>

    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="packagesToScan" value="com.ebiz.computerdatabase"/>

        <property name="jpaVendorAdapter" ref="jpaVendor">

        </property>
        <property name="jpaProperties">
            <props>
                <prop key="hibernate.dialect">${hibernate.dialect}</prop>
            </props>
        </property>
    </bean>


    <mvc:resources mapping="/resources/**" location="/resources/" />

    <context:annotation-config />
    <context:component-scan base-package="com.ebiz.computerdatabase.persistence.dao,com.ebiz.computerdatabase.service"  />
    <jpa:repositories base-package="com.ebiz.computerdatabase" />
</beans>